[Unit]
Description=Service for backuping files and folders

[Service]
User=root
Group=root
Type=simple
ExecStart=/usr/local/bin/backup.sh
StandardOutput=append:/var/log/backup/output.log
StandardError=append:/var/log/backup/errors.log

[Install]
WantedBy=multi-user.target
